/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    background: #45badd;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('./robot.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
}

button {
    cursor: pointer;
    outline: none;
    width: 200px;
    height: 50px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 6px;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.3);
    /* margin-bottom: 10px; */
    font-size: 20px;
    color: white;
    background: #ff3482;
}

button:hover {
    filter: brightness(90%);
}

button:active {
    transform: scale(0.95);
}

button:disabled {
    cursor: default;
    filter: brightness(30%);
}

/* Media Query for Tablet or Smaller Devices */
@media screen and (max-width: 1000px) {
    .container {
        background-size: cover;
        background-position: center center;
    }

    button {
        box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.6);
    }
}